# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Specific to this application
logs/.*
simple-blockchain-quickstart
/logs/app.log
/go.sum
/.idea/.*
coverage.txt
